body {
    font-family: 'Circular';
    color: white;
}

.artistPage {
    box-sizing: border-box;
    width: 100%;
    overflow-y: scroll;
}

.artistPage svg {
    opacity: 0.8;
    transition: transform 0.2s ease;
}

.artistPage svg:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.2);
}

/* HEADER */

.header {
    background-color: gray;
    width: 100%;
}

.headerTop {
 padding: 15px;
 z-index: 10;
}

.headerBot {
    height: 250px;
    overflow: hidden;
    position: relative;
}

.headerBot img {
    width: 100%;
}

.headerBotText {
    position: absolute;
    bottom: 10px;
    left: 15px;
    z-index: 10;
}

.verifiedText {
    display: none;
}

.artistName {
    font-size: 3em;
    font-weight: 600;
    margin: 10px 0;
}

.monthlyListener {
    display: none;
    font-size: 0.9em;
    font-weight: 300;
}

/* Main */

.artistPageMain {
    background: rgb(18,18,18);
    background: linear-gradient(0deg, rgba(18,18,18,1) 35%, rgba(33,33,33,1) 100%);
    padding: 15px 15px;
}

.monthlyListenerMobile {
    font-weight: 300;
    color: rgba(255,255,255,0.5);
    font-size: 0.9em;
    margin: 10px 0;
}

.iconBarMobile {
    display: flex;
    align-items: center;
}

.iconBarLeft {
    width: 50%;
    display: flex;
    align-items: center;
}

.seguitiBtn {
    padding: 5px 10px;
    margin: 0 30px 0 0;
    border: 2px solid rgba(255,255,255,0.02);
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
    font-family: 'Circular';
    color: white;
}

.iconBarRight {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.shuffleIcon {
    padding: 0 10px 0 0;
}

.iconBarDesktop {
    display: none;
    align-items: center;
    margin: 0 0 15px 0;
}

#player1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0;
    background-color: #1ed760;
    border: none;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    transform: scale(0.9);
    transition: transform 0.2s ease, opacity 0.3s ease, box-shadow 0.2s ease, bottom 0.3s ease;
}

#player1:hover {
    cursor: pointer;
    transform: scale(1);
    box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
}

#player1 svg {
    padding: 1px 0 0 3px;
}

.followingBtn {
    margin: 0 20px;
    padding: 7px 15px 5px 15px;
    color: white;
    font-family: 'Circular';
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.followingBtn:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.1);
    transform: scale(1.05);
}

/* Main bot */

.artistPageMainBot {
    display: flex;
    flex-direction: column;
}

.artistPageMainBot h2 {
    font-size: 1.3em;
    margin: 15px 0;
    font-weight: 600;
}

.mainLeft {
    order: 1;
}

.mainRight {
    order: 0;
}


.likedSongsMobile {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.likedSongsMobileLeft {
    position: relative;
    margin: 0 10px 0 0;
}

.artistImgSmall {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.artistImgSmallHeart {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 3px;
    background-color: #aafdba;
    border-radius: 50%;
    border: 2px solid white;
}

.likedSongsMobileRight {
    font-weight: 300;
}

.likedSongsOfArtist {
    margin: 5px 0;
    font-size: 0.9em;
    color: rgba(255,255,255,0.5);
}

.likedSongsDesktopBot {
    display: none;
}

.likedSongsDesktopImg {
    position: relative;
    margin: 0 15px 0 0;
}

.artistImgMedium {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.artistImgMediumHeart {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 3px;
    background-color: #1ed760;
    border: 2px solid #121212;
    border-radius: 50%;
}

.likedSongsDesktopText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.likedSongsDesktopText p:first-of-type {
    font-size: 0.8em;
    margin: 0 0 3px 0;
}

.likedSongsDesktopText p:last-of-type {
    font-size: 0.7em;
    font-weight: 300;
    color: rgba(255,255,255,0.5)
}

/* Cards */

.trackCardsContainer {
    display: flex;
    flex-direction: column;
}

.trackCard {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 0;
    margin: 10px 0;
    background-color: rgba(255,255,255,0);
    transition: background-color 0.1s ease;
}

.trackCard:hover {
    cursor: pointer;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.1);
}

.cardId {
    display: none;
}

.trackCard > div {
    flex-grow: 0;
}

.trackIndexDiv {
    width: 20px;
    margin: 0 0 0 20px;
}

.trackImgDiv {
    width: 50px;
    margin: 0 20px;
}

.trackImgDiv img {
    width: 50px;
    height: 50px;
}

.trackTitleDiv {
    max-width: 50%;
}

.trackListeners {
    margin: 5px 0 0 0;
    font-weight: 300;
    font-size: 0.8em;
    color: rgba(255,255,255,0.5);
}

.trackCard .trackMoreInfoDiv {
    flex-grow: 2;
    text-align: right;
}

.trackCard #player1 {
    width: 20px;
    height: 20px;
    background-color: rgba(0,0,0,0);
    padding: 0;
    border: none;
    border-radius: none;
}

/* Media query Desktop */

@media screen and (min-width:600px) {
    .headerBot img {
        position: relative;
        top: -50px;
    }
}

@media screen and (min-width:1200px) {
    .header {
        position: relative;
    }

    .headerTop {
        width: 95%;
        position: absolute;
        top: 0px;
    } 

    .verifiedText {
        display: flex;
        align-items: center;
    }

    .verifiedText svg {
        margin: 0 5px 0 0;
    }

    .headerBot img {
        position: relative;
        top: -100px;
    }
    
    .monthlyListener {
        display: block;
    }

    .monthlyListenerMobile {
        display: none;
    }

    .iconBarMobile {
        display: none;
    }

    .iconBarDesktop {
        display: flex
    }

    .artistPageMainBot {
        display: flex;
        flex-direction: row;
    }

    .mainLeft {
        width: 60%;
        order: 0;
    }

    .trackCardsContainer {
        padding: 0 15px 0 0;
    }

    .mainRight {
        width: 40%;
        order: 1;
    }

    .likedSongsMobile {
        display: none;
    }

    .likedSongsDesktopBot {
        display: flex;
    }
}

@media screen and (min-width:1400px) {
    .headerBot img {
        position: relative;
        top: -150px;
    }
}

@media screen and (min-width:1800px) {
    .headerBot img {
        position: relative;
        top: -200px;
    }
}