body {
    font-family: Circular;
    margin: 0;
    padding: 0;
    font-weight:lighter;
  }
  svg {
    color: grey;
  }
  
  #friends {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  #titoloAmici {
    flex-grow: 1;
    color: white;
  }

  .sidebar {
    background-color: black;
    color: #b3b3b3;
    max-height:100vh;
    padding: 1rem;
  }
  
  .activitySection {
    background-color: #2b2a2a;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .activityItem {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .avatar {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .activityDetails {
    flex-grow: 1;
  }
  
  .activityDetails h3 {
    margin: 0 0 5px;
    font-size: 1rem;
    color: grey;
  }
  
  .activityDetails p {
    margin: 0;
    font-size: 1rem;
    color: grey;
  }
  
  .friendPlaylist {
    font-size: 0.9rem;
    color: grey;
    margin-top: 10rem;
  }
  
  .notaMusicale {
    color: grey;
  }
  
  .timeline {
    color: grey;
    justify-self: center;
  }