#player{
    margin-top: 20px;
    display: flex;
    background-color: #181818;
    padding: 2% 1% 2% 1%;
    color: white;
}

/* left */
.leftDiv {
    flex-basis: 30%;
    display: flex;
    align-items: center;
}

.leftDiv img {
    width: 30%;
    margin: 0% 4% 2% 0%;
}

.leftDiv div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftDiv p {
    margin: 0;
    margin-right: 15px;
}

.leftDiv div p:last-child{
    color: gray;
    font-size: smaller;
}

.leftDiv #heart-fill{
    display: none;
}

/* central */
.centralDiv{
    flex-basis: 150%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.progress-container {
    display: flex;
    align-items: center;
  }
  
  .timer {
    margin-right: 10px;
    font-size: 12px;
  }

  .duration {
  margin-left: 10px;
  font-size: 12px; 
}

.centralDiv .svg{
    display: flex;
    margin-bottom: 10px;
}

.centralDiv .svg svg{
    margin-right: 5px;
}

.centralDiv .svg svg:nth-child(3),.centralDiv .svg svg:nth-child(4), .progress-bar{
    cursor: pointer;
}

.progress-bar {
    width: 800px;
    height: 4px;
    background-color: #ccc;
    border-radius: 2px;
  }
  
.progress {
    height: 100%;
    background-color: #1db954;
    border-radius: 2px;
    width: 0%;
    transition: width 0.1s ease; 
  }


/* right */
.rightDiv{
    flex-basis: 30%;
    align-items: center;
    margin-top: 10px;
    display: flex;
}

.rightDiv svg{
    margin-right: 10px;
}

.rightDiv .progress-bar{
    width: 100px;
    background-color: #ccc;
    margin-right: 10px;
}

.rightDiv .progress {
    height: 100%;
    background-color: #1db954;
    border-radius: 2px;
    width: 0%;
    transition: width 0.1s ease; 
  }

.rightDiv #volume-mute{
    display: none;
}

@media screen and (max-width: 1250px) {
    .centralDiv .progress-bar {
        width: 600px;
    }
    .rightDiv .progress-bar {
        width: 70px;
    }
}

@media screen and (max-width: 1000px) {
    .centralDiv .progress-bar {
        width: 400px;
    }
    .rightDiv .progress-bar {
        width: 50px;
    }
}

@media screen and (max-width: 576px) {

}
