body,
button {
  font-family: "Circular";
  background-color: #222222;
  color: white;
}



.searchPage a,
.searchPage button {
  color: white;
  text-decoration: none;
}

.searchPage h1 {
  font-size: 1.5rem;
  margin: 2rem 0 2rem 8px;
}

.searchPage input {
  width: 80%;
  font-family: "Circular";
  background-color: #3b3b3b;
  color: white;
  height: 3rem;
  padding: 0.5rem;
  margin-left: 8px;
  border: 0;
  box-sizing: border-box;
}

.searchPage form {
  max-width: 500px;
  display: flex;
  gap: 2px;
  margin-left: 0 auto;
}

.searchPage h2 {
  text-align: center;
  padding: 3rem 0 1rem 0;
}

.searchPage {
  margin: 10px 20px;
  overflow-y: scroll;
  width: 100%;
  padding-bottom: 150px;
}
.searchPage img {
  width: 100%;
  height: auto;
}

.searchPage .show-more {
  display: none;
  text-align: center;
  margin-top: 1rem;
}

.searchPage button {
  background-color: #3b3b3b;
  border: 0;
  color: white;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 1rem;
}

.card-placeholder {
  background-color: rgb(134, 42, 57);
  overflow: hidden;
  padding: 0.67rem;
  border-radius: 2%;
  max-width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgPlaceholderBox {
  width: 33%;
  rotate: 30deg;
  align-self: flex-end;
}

.searchPage .imgContainer {
  max-width: 66px;
  padding-right: 1rem;
}

.searchResultBox {
  display: flex;
  flex-basis: 80%;
}

.searchText {
  flex-basis: 70%;
}

.searchText h3 {
  font-weight: 300;
  padding: 8px 0;
}

.search-modal {
  width: 350px;
  padding: 1rem;
  text-align: center;
  position: absolute;
  left: calc(50% - 175px);
  bottom: 175px;
  opacity: 0;
  transition: opacity 0.3s linear;
  background-color: rgba(0,0,0,0.90);
  color:#a1a1a1
}

.modal-active {
  opacity: 1;
  transition: opacity 0.3s linear;
}

.show-more button {
  margin: 0 auto;
}

.show-more button:hover {
  background-color: #a1a1a1;
}

[disabled=""] {
  color: gray !important;
}

[disabled=""]:hover {
  background-color: #3b3b3b !important;
}

[type="submit"] {
  width: 15%;
  color: #a1a1a1;
}

[type="submit"]:hover {
  color: white;
}

@media screen and (min-width: 768px) {
  .searchPage {
    padding-bottom: 0;
  }

  .searchPage h1 {
    text-align: center;
  }
  .searchPage form {
    margin: 0 auto;
  }

  .placeholder-categories {
    justify-content: center;
  }

  .searchResultBox {
    flex-basis: 40%;
  }

  .search-modal {
    bottom: 125px;
  }
}

@media screen and (min-width: 1200px) {
  .headerTop {
    display: block;
  }

  .card-placeholder h3 {
    font-size: 1.2rem;
  }

  .card-placeholder {
    max-width: 170px;
    height: 140px;
  }

  .imgPlaceholderBox {
    width: 55%
  }
}