@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

#mainContainer{
    display: flex;
}

/* DROPDOWN MENU IMPORTED */

.headerTop {
    display: none;
    align-items: center;
    margin: 0 0 10px 0;
  }
  
  .backwardForwardBtns {
    width: 50%;
  }
  
  .backwardForwardBtns button {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    background-color: #131313;
    border: none;
    border-radius: 55%;
    display: inline;
    padding: 0;
    height: 30px;
    width: 30px;
    color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease;
  }
  
  .backwardForwardBtns button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: #0a0a0a;
    cursor: pointer;
  }
  
  .backward {
    padding: 0 2px 0 0;
    margin: 0 10px 0 0;
  }

  .backwardsMobile {
    opacity: 0.8;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    background-color: #131313;
    border: none;
    border-radius: 55%;
    display: inline;
    padding: 0;
    height: 30px;
    width: 30px;
    color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease, opacity 0.3s ease;
  }

  .backwardsMobile:hover {
    opacity: 1;
    color: rgba(255, 255, 255, 1);
    background-color: #0a0a0a;
    cursor: pointer;
  }
  
  .backwardsMobile {
    padding: 0 2px 0 0;
    margin: 0 10px 0 0;
  }

  .forward {
    padding: 0 0 0 2px;
  }
  
  .dropdownDiv {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: end;
  }
  
  .dropdown {
    display: flex;
    align-items: center;
    background-color: #131313;
    border-radius: 50px;
    padding: 3px;
    transition: background-color 0.3s ease;
  }
  
  .dropdown:hover {
    background-color: #0a0a0a;
    cursor: pointer;
  }
  
  .dropdown img {
    height: 25px;
    border-radius: 55%;
    width:auto;
  }
  
  .dropdown p {
    color: white;
    padding: 4px 10px 2px 10px;
    font-size: 0.9em;
  }
  
  .dropdown svg {
    padding: 0 5px;
  }
  
  .dropdownMenu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 35px;
    right: 0px;
    padding: 5px;
    border-radius: 5px;
    background-color: #252525;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.2s ease-in-out;
  }
  
  .dropdownMenu.show {
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }
  
  .dropdownMenuLi {
    font-weight: 300;
    font-size: 0.9em;
    padding: 15px 15px;
    border-radius: 3px;
    transition: background-color 0.1s ease;
    list-style: none;
  }
  
  .dropdownMenuLi:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .dropdownMenuLi:last-of-type {
    border-top: 1px solid gray;
  }
  /* FOOTER IMPORTED */
  
  .homepageFooter {
    display: none;
    margin: 125px 0 0 0;
    padding: 0px 20px;
    /* font-size: 0.8rem; */
  }
  
  /* Footer top */
  
  .footerNavTop {
    display: flex;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgb(70, 70, 70);
  }
  
  .homepageFooter li {
    list-style: none;
  }
  
  .navTop {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
  
  .navTitle {
    font-size: 1.1em;
  }
  
  .navTop li {
    margin: 15px 0;
  }
  
  .navTop li a:hover {
    color: white;
  }
  
  .navLinks {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .socialIcons {
    width: 40%;
    display: flex;
    justify-content: end;
  }
  
  .socialIcons div {
    margin: 0 5px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.1s ease;
  }
  
  .socialIcons div:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  /* Footer bot */
  
  .footerNavBot {
    font-size: 0.9em;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
  }
  
  .footerNavBot ul {
    display: flex;
    font-size: 0.9em;
  }
  
  .footerNavBot ul .navBotLinks {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 10px 0 0;
    transition: color 0.1s ease;
  }
  
  .footerNavBot ul .navBotLinks:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .footerNavBot p {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
  }

@media screen and (min-width:768px) {
    #mainContainer{
        max-height: 90vh;
    }  
}

@media screen and (min-width: 1200px) {
  .headerTop {
    display: flex;
  }
  
}

@media screen and (min-width: 1200px) {
  .headerTop {
    display: flex;
  }
  
}

.nav ul {
    
}

/* SCROLLBAR */

::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-track {
background: #242424; 
}

::-webkit-scrollbar-thumb {
background: #3d3d3d; 
}

::-webkit-scrollbar-thumb:hover {
background: #505050; 
}