body {
    font-family: 'Circular';
}

a {
    color: white;
    text-decoration: none;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid white
}

li {
    display: flex;
    align-items: center;
}

.sidebar {
    background-color: black;
    color: white;
    height: 100vh;
    max-width: 300px;
}

ul {
    padding: 0.5em 0;
}
