#mainContainer{
    display: flex;
}

@media screen and (min-width:768px) {
    #mainContainer{
        max-height: 90vh;
    }

    
}



/* SCROLLBAR */

::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-track {
background: #242424; 
}

::-webkit-scrollbar-thumb {
background: #3d3d3d; 
}

::-webkit-scrollbar-thumb:hover {
background: #505050; 
}